.App{
    background: linear-gradient(107.19deg, #576182 0.53%, #1FC5A8 100%);
    width:100%;
    height:100%;
}
.App-content{
    width:100%;
    height:100%;

    display:flex;
    align-items: center;
    justify-content: center;
}
.App-Content-Top{
    height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  
}
.App-Content-Bottom{
    height: 90vh;
    width: 100%;
  
    display:flex;
    align-items: center;
    justify-content: center;
}
.top-bar{
    height: 100%;
    width: 97%;
    
    background: linear-gradient(209.8deg, rgba(87, 97, 130, 0.1) 0%, rgba(31, 197, 168, 0.1) 100%);
    box-shadow: 35px 33px 78px rgba(0, 0, 0, 0.2);
    border-radius: 73px;
    display: flex;
    flex-direction: row;
   
}
.data-area{
    height: 95%;
    width: 97%;
   
    border-radius:10em;
    background: linear-gradient(209.8deg, #576182 0%, #1FC5A8 100%);
    box-shadow: 35px 33px 84px rgba(0, 0, 0, 0.65);
    border-radius: 73px;
   
}
.logo-area{
    width:20%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-color: transparent;
}
.search-area{
    width:60%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;

}
.profile-area{
    width:20%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    
}
.logo{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-box{
    width:40em;
    height:3em;
    border: 0.1em solid;
    border-color:white;
    border-radius: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}
.profile-box{
    width:10em;
    height: 3em;
    border: 0.1em solid;
    border-color:white;
    border-radius: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pimg-box{
    width:3em;
    height: 3em;
    border: 0.1em solid;
    border-color:white;
    border-radius: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers-area{
    width:100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.datas-area{
    width:100%;
    height: 85%;

    max-height: 70%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.table-titles{
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
   color: white;

}
.table-titles li{
  
    width:16%;
}
.table-datas{
    width: 95%;
    height: auto;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
   color: white;

}
.table-datas li{
    width:16%;
    height:100%;
    
}
.line{
    color: aliceblue;
}
@media (max-width:1200px) {
    .App{
        background: linear-gradient(107.19deg, #576182 0.53%, #1FC5A8 100%);
        width:100%;
        height:100%;
    }
 
    .App-content{
        width:100%;
        height:100%;
        background-color:red;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .App-Content-Top{
    
        height: 20vh;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        
      
    }
    .App-Content-Bottom{
       
        height: 80vh;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .table-datas{
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        list-style-type: none;
        color: white;
    
    }
    .table-datas li{
        width: 100%;
        margin:0.2em;
    }
  
       
    .table-titles{
        display:none;
    
    }
    .line{
        display: none;
    }
    .top-bar{
        height: 100%;
        width: 100%;
        
        background: linear-gradient(209.8deg, rgba(87, 97, 130, 0.1) 0%, rgba(31, 197, 168, 0.1) 100%);
        box-shadow: 35px 33px 78px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
       
    }
    .search-area{
        width:100%;
        height: 100%;
        display: flex; 
        align-items: center;
        justify-content: center;
 
    
    }
    .search-box{
        width:70%;
        height:50%;
        border: 0.1em solid;
        border-color:white;
        border-radius: 2em;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
    }
    .profile-area{
    display: none;
 
        
    }
    .logo-area{
        width:100%;
        height: 100%;
    
}
.logo{
    width:50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table-titles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.table-titles li {
    height: 100%;
    width:100%;
    margin-bottom: 2em;
}
.line{
   display: flex;
   height: 100%;
   
}
    .headers-area{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: center;

   
}
.data-area{
  
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    border-radius: 0px;
   
}
.datas-area{
    
    height: 100%;
    width: 70%;


   
    overflow : scroll;

}

}